node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

ios/Pods/
ios/build/
ios/DerivedData/

android/.gradle/
android/build/
android/app/build/

*.keystore
!android/app/debug.keystore

.DS_Store
.env
.env.*
!.env.example
!frontend/.env.example
frontend/dist/
